body{
  background: rgb(255,238,102);
  background: linear-gradient(283deg, rgba(255,238,102,1) 0%, rgba(76,181,224,1) 44%);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

table, th, td, button, tr {
  color: white;
  border:1px solid white;
  text-align: center;
  background-color: transparent;
}

th, td {
  padding-left: 30px;
  padding-right: 30px;
}

button {
  border-width: 0;
}

input {
  height: 25px;
  background-color: white;
  border: 1px solid white;
  text-align: center;
  color: black;
}

input::placeholder {
  width: 100%;
  border-width: 0;
  color: rgb(106, 167, 192);
  background-color: white;
}

input:focus {
  outline-width: 0;
}

input:focus::placeholder {
  color: transparent;
}

.remove{
  color: red;
}